<!--div element add where you want the Multi Room Booking Calendar to appear.
    data-cid = "Your Calendar ID";
    data-width = "css width without px Let empty to append responsive software";
    data-height = "css height without px";
    data-local = "Language ID Let empty to append language menu";
    data-room = "room number or auto to show room menu";
    data-background = "css color without #";
  -->

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="block">
        <h2>Réservation (2 tentes / 2 tents)</h2>
        <div id="div_mrbc_software" data-cid="151" data-local="1" data-room="auto" > </div>
      </div>
    </div>
    <div class="col-sm-6"></div>
  </div>
</div>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <!-- Intro -->
    <div class="row">
      <div class="section-title">
        <h2>{{ .Site.Data.service.title }}</h2>
        <p>{{ .Site.Data.service.subtitle }}</p>
      </div>
    </div>
    <!-- Content -->
    <div class="row">
      {{ range .Site.Data.service.content }}
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="{{ .icon }}"></i>
          <h4>{{ .name }}</h4>
          <p>{{ .text }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
