{{ if .Site.Params.webcam.enabletimelapse }}
    <section id="timelapse">
        <div class="container">
            <!-- Partie texte -->
            <div class="row">
                <div class="section-title text-center">
                    <h2>{{ .Site.Params.webcam.titletimelapse }}</h2>
                    <h3>{{ .Site.Params.webcam.subtitletimelapse }}</h3>
                </div>
            </div>
            <!-- Time lapse - source https://www.lookr.com/embed/1534093781 -->
            <div class="row">
                <div class="col-md-12 ">
                    <div class="block text-center">
                        <a name="lkr-timelapse-player"
                            data-id="{{ .Site.Params.webcam.idtimelapse }}"
                            data-play="month"
                            href="https://lookr.com/{{ .Site.Params.webcam.idtimelapse }}"
                            target="_blank">
                            Arolla:Mont de l'Etoile
                        </a>
                    </div>
                </div>
            </div>
            <script async type="text/javascript" src="https://api.lookr.com/embed/script/player.js"></script>
        </div>
    </section>
{{ end }}
